<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>validate form</title>
	<meta name="viewport" content="width=device-width;initial-scale=1">
	<!-- <link rel="stylesheet" href="css/base.css"> -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/base.css">
</head>
<body>
	<div class="container">
		<h1>表单验证示例</h1>
		<form id="validateForm" action="">
			<div class="form-group">
				<label for="userName">中文名</label>
				<input id="userName" class="form-control" type="text" data-validate="中文:required,chinese">
			</div>
			<ul>
				<li>
					<h2>中文</h2>
					
				</li>
				<li>
					<h2>银行卡</h2>
					<input type="text" data-validate="银行卡:required,bankNumber">
				</li>
				<li>
					<h2>非必须填写</h2>
					<input type="text" data-validate="银行卡:required,bankNumber">
				</li>
			</ul>
			
		</form>
		<button class="validateBtn" type="button">确定</button>
		<span>点我</span>
		<form id="registerForm" action="">
			<input name="userName" type="text" data-validate="姓名:required,chinese">
			<input name="age" type="text" data-validate="年龄:required,number">
			<footer>
				<button type="button">确定</button>
			</footer>
		</form>
	</div>
	
	<script src="js/zepto.min.js"></script>
	<script src="js/validateForm.js"></script>
	<script src="js/test.js"></script>
	<script>
		var $validateBtn = $(".validateBtn");
		$validateBtn.tap(function(){
			debugger;
			$("#validateForm").validateForm();
		})
	</script>
	
</body>
</html>